nav {
    height: 75px;
    background-color: black; 
    position: centered;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    position: fixed;
    
}

a {
    color: white;
    text-decoration: none;
    margin: 8px;
}

a:hover {
    text-decoration: underline;

}

#links {
    box-sizing: border-box;
    padding-right: 8px;
    display: flex;
    align-items: center;
}
